name: Terraform CI

on:
#   push:
#     branches:
#       - main
#   pull_request:
#     branches:
#       - main
  workflow_dispatch:

permissions:
    id-token: write

jobs:
  terraform:
    name: Terraform Format, Init, Validate & Plan
    runs-on: ubuntu-24.04

    steps:
    - name: Checkout repository
      uses: actions/checkout@v5.0.0
      with: 
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.12.2

    - name: Configure AWS Credentials with OIDC
      uses: aws-actions/configure-aws-credentials@v5.1.0
      with:
        role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/iamphanan13.oidc.vault-service
        aws-region: ${{ secrets.AWS_REGION }}
    - name: Additional steps
      run: |
        aws sts get-caller-identity


    - name: Terraform Format
      run: terraform fmt -recursive

    - name: Terraform Init
      run: terraform init

    - name: Terraform Validate
      run: terraform validate

    - name: Terraform Plan
      run: terraform plan -var="my_ip=${{ secrets.MY_IP }}"

#   trivy-scan:
#     name: Trivy Security Scan
#     runs-on: ubuntu-latest

#     steps:
#     - name: Checkout repository
#       uses: actions/checkout@v3

#     - name: Set up Trivy
#       uses: aquasecurity/trivy-action@0.33.1
#       with:
#         scan-type: config
#         scan-ref: .
#         format: table
#         exit-code: 1
#         ignore-unfixed: true
#         severity: HIGH,CRITICAL

#     - name: Generate Trivy HTML Report
#       run: |
#         chmod +x scripts/TrivyScan.sh
#         ./scripts/TrivyScan.sh
#       continue-on-error: true

