name: Terraform CI

on:
#   push:
#     branches:
#       - main
#   pull_request:
#     branches:
#       - main
  workflow_dispatch:

jobs:
  terraform:
    name: Terraform Format, Init, Validate & Plan
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.12.2

    - name: Terraform Format
      run: terraform fmt -check -recursive

    - name: Terraform Init
      run: terraform init

    - name: Terraform Validate
      run: terraform validate

    - name: Terraform Plan
      run: terraform plan -var="my_ip=${{ secrets.MY_IP }}"

#   trivy-scan:
#     name: Trivy Security Scan
#     runs-on: ubuntu-latest

#     steps:
#     - name: Checkout repository
#       uses: actions/checkout@v3

#     - name: Set up Trivy
#       uses: aquasecurity/trivy-action@0.33.1
#       with:
#         scan-type: config
#         scan-ref: .
#         format: table
#         exit-code: 1
#         ignore-unfixed: true
#         severity: HIGH,CRITICAL

#     - name: Generate Trivy HTML Report
#       run: |
#         chmod +x scripts/TrivyScan.sh
#         ./scripts/TrivyScan.sh
#       continue-on-error: true

